<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		JCRv+0wDUDYxuh6jp9kpIHAZ3cDTHDEpBZ5OEpnl1ak=
		</data>
		<key>appIconHash</key>
		<data>
		QU7c1DwL2xBdLWXidWw1nr62W0gg1u/w3yc3pLHQn+U=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
